// @import "bootswatch/flatly/variables";
// @import "bootstrap";
// @import "bootswatch/flatly/bootswatch";


body {
    margin: 40px;
}

h1 {
    color: darkblue;
}

a {
    text-decoration: none;
}

.btn-group {
    display: inline-block;
}